{% extends "base.html" %}
{% block content %}
    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="row">
                <form name="load_form" class="text-left">
                    <label for="file_input">Please, select sql file:</label>
                    <input id="file_input" class="form-control" type="file" name="file">
                </form>
            </div>
            <div class="row">
                <button class="btn btn-default" onclick="sendFile()">Upload</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="padding: 0 25px">
        {% if data!=[] %}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for row in data %}
                    <li class="nav-item {% if loop.first %}active{% endif %}">
                        <a class="nav-link {% if loop.first %}active{% endif %}" id="{{ row.name }}-tab"
                           data-toggle="tab" href="#{{ row.name }}"
                           role="tab"
                           aria-controls="{{ row.name }}" aria-expanded="true">{{ row.name }}</a>
                    </li>
                {% endfor %}

            </ul>
            <div class="tab-content" id="myTabContent">
                {% for row in data %}
                    <div class="tab-pane table-responsive fade {% if loop.first %}active in{% endif %}"
                         id="{{ row.name }}"
                         role="tabpanel"
                         style="max-height: 55vh;"
                         aria-labelledby="{{ row.name }}-tab">
                        {#                         <span>{{ row.data }}</span>#}
                        <table width="100%" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                {% for oneRow in row.data[0].keys() %}
                                    {% if oneRow!="_id" %}
                                        <th width="{{ 100.0/(row.data[0].keys()|length) }}%">{{ oneRow }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for oneRow in row.data %}
                                <tr>
                                    {% for keyName in row.data[0].keys() %}
                                        {% if keyName!="_id" %}
                                            <td width="{{ 100.0/(row.data[0].keys()|length) }}%" class="table-edit-td">
                                                <span>{{ oneRow.get(keyName) }}</span>
                                                <button class="btn table-edit-btn">Edit</button>
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <script>
        function sendFile() {
            var xhr = new XMLHttpRequest();
            var formData = new FormData(document.forms.load_form);
            xhr.open('POST', window.location.origin + "/uploadSQL", true);
            xhr.withCredentials = true;
            xhr.send(formData);
            xhr.onreadystatechange = function () { // (3)
                if (xhr.readyState != 4) return;
                var json = JSON.parse(xhr.responseText);
                $("#loading-wrapper").hide();
                console.log(json);
                if (xhr.status == 200) {
                    if (json.status == 1) {
                        window.location.pathname = "/";
                    }
                }
                // if xhr.status != 200 then json format: {status: 0, errors: ["errorKey":"invalid_email_fromat", "errorMessage":"Invalid email format"] }
                // You can displayed errorMessage as a error

                if (xhr.status != 200) {

                }
            };
            $("#loading-wrapper").show();


        }

    </script>
{% endblock %}