{% extends "base.html" %}
{% block content %}
    <div class="row text-center" style="padding: 0 25px">
        {#        <h3>Select table:</h3>#}
        {% if names!=[] %}
            <hr>
            <ul class="nav nav-pills nav-fill nav-justified">
                {% for oneName in names %}
                    <li class="nav-item">
                        <a class="nav-link {% if name==oneName %}active{% endif %}"
                           href="/view/{{ oneName }}">{{ oneName }}</a>
                    </li>
                {% endfor %}
            </ul>
            <hr>
        {% endif %}
        {% if data!=[] %}
            {{ pagination.links }}
            <h4>To change the cell, click on it. Changes will be saved to defocus the field.</h4>
            <!-- Small modal -->

            <div class="table-responsive">
                <table width="100%" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        {% for row in data[0].keys() %}
                            {% if row!="_id" %}
                                <th width="{{ 100.0/(data[0].keys()|length - 1) }}%">{{ row.split(row.split('-')[0]+"-")[1] }}</th>
                            {% endif %}
                            {% if loop.last %}
                                <th>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target=".bs-example-modal-lg">
                                        Add Row
                                    </button>
                                </th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data %}
                        <tr>
                            {% for keyName in data[0].keys() %}
                                {% if keyName!="_id" %}
                                    <td width="{{ 100.0/(row.keys()|length - 1) }}%" class="table-edit-td"
                                        style="padding: 0">
                                        <input id="{{ row.get("_id") }}__{{ keyName }}" class="online-change-input"
                                               style="padding: 10px;border: 0;background: transparent"
                                               value="{{ row.get(keyName) }}">
                                    </td>
                                {% endif %}
                                {% if loop.last %}
                                    <th>
                                        <button class="btn delete-btn" id="{{ row.get("_id") }}">Delete</button>
                                    </th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ pagination.links }}
        {% endif %}
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>

                    <h3 class="modal-title" id="gridSystemModalLabel">Enter the data</h3>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                            <form name="addRowForm" class="text-left">
                                {% for row in data[0].keys() %}
                                    {% if row!="_id" %}
                                        <label for="{{ row }}">{{ row.split(row.split('-')[0]+"-")[1] }}:</label>
                                        <input class="form-control" id="{{ row }}" name="{{ row }}">
                                    {% endif %}
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <button class="btn btn-primary" style="margin: 20px" onclick="AddRow()">Add</button>
                </div>

            </div>
        </div>
    </div>
    <script>
        function AddRow() {
            var xhr = new XMLHttpRequest();
            var formData = new FormData(document.forms.addRowForm);
            xhr.open('POST', window.location.origin + window.location.pathname, true);
            xhr.withCredentials = true;
            xhr.send(formData);
            xhr.onreadystatechange = function () { // (3)
                if (xhr.readyState != 4) return;
                var json = JSON.parse(xhr.responseText);
                $("#loading-wrapper").hide();
                console.log(json);
                if (xhr.status == 200) {
                    if (json.status == 1) {
                        $(".bs-example-modal-lg").modal("hide");
                        window.location.reload();
                    }
                }
                // if xhr.status != 200 then json format: {status: 0, errors: ["errorKey":"invalid_email_fromat", "errorMessage":"Invalid email format"] }
                // You can displayed errorMessage as a error

                if (xhr.status != 200) {

                }
            };
            $("#loading-wrapper").show();


        }

        $(".delete-btn").click(function () {
            var xhr = new XMLHttpRequest();
            xhr.open('DELETE', window.location.origin + window.location.pathname + "/" + this.id, true);
            xhr.withCredentials = true;
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send("value=" + this.value);
            xhr.onreadystatechange = function () { // (3)
                if (xhr.readyState != 4) return;
                var json = JSON.parse(xhr.responseText);
                console.log(json);
                if (xhr.status == 200) {
                    window.location.reload()
                }
                // if xhr.status != 200 then json format: {status: 0, errors: ["errorKey":"invalid_email_fromat", "errorMessage":"Invalid email format"] }
                // You can displayed errorMessage as a error

                if (xhr.status != 200) {
                    console.log("ERROR")
                }
            };
        });
        $(".online-change-input").focusout(function () {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', window.location.origin + window.location.pathname + "/" + this.id, true);
            xhr.withCredentials = true;
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send("value=" + this.value);
            xhr.onreadystatechange = function () { // (3)
                if (xhr.readyState != 4) return;
                var json = JSON.parse(xhr.responseText);
                console.log(json);
                if (xhr.status == 200) {
                    console.log("UPDATED")
                }
                // if xhr.status != 200 then json format: {status: 0, errors: ["errorKey":"invalid_email_fromat", "errorMessage":"Invalid email format"] }
                // You can displayed errorMessage as a error

                if (xhr.status != 200) {
                    console.log("ERROR")
                }
            };
        });

        function sendFile() {
            var xhr = new XMLHttpRequest();
            var formData = new FormData(document.forms.load_form);
            xhr.open('POST', window.location.origin + "/uploadSQL", true);
            xhr.withCredentials = true;
            xhr.send(formData);
            xhr.onreadystatechange = function () { // (3)
                if (xhr.readyState != 4) return;
                var json = JSON.parse(xhr.responseText);
                $("#loading-wrapper").hide();
                console.log(json);
                if (xhr.status == 200) {
                    if (json.status == 1) {
                        window.location.pathname = "/";
                    }
                }
                // if xhr.status != 200 then json format: {status: 0, errors: ["errorKey":"invalid_email_fromat", "errorMessage":"Invalid email format"] }
                // You can displayed errorMessage as a error

                if (xhr.status != 200) {

                }
            };
            $("#loading-wrapper").show();


        }

    </script>
{% endblock %}